.jumbo {
    color: #fff;
    background: url("https://www.publicdomainpictures.net/pictures/50000/velka/nature-background-31.jpg") center center;
    background-size: cover;
}

.jumbcont {
    padding-top: 4rem !important;
}
